
<div class="col-md-10 animated fadeInDown">
    <div class="container-fluid" id="overview">
        @{
            ViewData["Title"] = "OverView";
        }

        <h1 class="text-center">@ViewData["Title"]</h1>
        <h3 class="text-center">@ViewData["Message"]</h3>

        <p></p>
        <div class="title">
            <h3>Take a look at some photo examples of each Event specializing In .....</h3>
        </div>
        <ul class="nav nav-pills nav-pills-info" role="tablist" id="tablist">
            <li>
                <a href="#dashboard" role="tab" data-toggle="tab">
                    <i class="fa fa-diamond" aria-hidden="true"></i>
                    Wedding Design
                </a>
            </li>
            <li class="active">
                <a href="#schedule" role="tab" data-toggle="tab">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    Home Interior
                </a>
            </li>
            <li>
                <a href="#tasks" role="tab" data-toggle="tab">
                    <i class="fa fa-building-o" aria-hidden="true"></i>
                    Corporate Events
                </a>
            </li>
        </ul>
    </div>
 </div>

