
<div class="col-md-10 animated fadeInDown">
    <div class="container-fluid" id="overview">
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <button class="btn btn-info btn-round pull-right">
                <i class="fa fa-home"> home</i>
            </button>
        </a>

        @{
            ViewData["Title"] = "OverView";
        }

        <h1 class="text-center">@ViewData["Title"]</h1>
        <h3 class="text-center">@ViewData["Message"]</h3>

        <p></p>
        <div class="title">
            <h3 class="text-center">Take a look at some examples of each Design photo gallery.</h3>
        </div>
        <ul class="nav nav-pills nav-pills-info" role="tablist" id="tablist">
             <li>
                    <a asp-area="" asp-controller="Home" asp-action="Wedding">
                        <i class="fa fa-bell-o" role="tab" data-toggle="tab"></i>
                        Wedding Design
                    </a>
             </li>

            <li class="active">
                <a asp-area="" asp-controller="Home" asp-action="Home">
                    <i class="fa fa-home" aria-hidden="true" role="tab" data-toggle="tab"></i>
                    Home Interior Design
                </a>
            </li>

            <li>
                <a asp-area="" asp-controller="Home" asp-action="Corporate">
                    <i class="fa fa-building-o" aria-hidden="true" role="tab" data-toggle="tab"></i>
                    Corporate Events Design
                </a>
            </li>

        </ul>
    </div>
 </div>

