
<div>
    <div class="nametitle animated fadeInRightBig">


        @{
            ViewData["Title"] = "Home Page";
        }


        <h1 id="title2"><strong id="title">DRS</strong>&nbsp<b>Interior Design</b></h1><br />
        <h4 id="sub"><b>Aesthetic Interior Designer</b></h4>

    </div>
</div>

