<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] DRS Interior Design</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
        <link rel="stylesheet" href="~/lib/material-kit/assets/css/material-kit.css" />
        <link rel="stylesheet" href="~/lib/startbootstrap-the-big-picture-gh-pages/css/the-big-picture.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pinyon+Script|Fjalla+One"  type='text/css'>
        <link rel="stylesheet" href="~/lib/animate.css/animate.css" />
    </environment>


 <environment names="Staging,Production">
     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
     <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
     <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" asp-append-version="true" />
     <link rel="stylesheet" href="~/lib/material-kit/assets/css/material-kit.min.css" asp-append-version="true" />
     <link rel="stylesheet" href="~/lib/animate.css/animate.min.css" asp-append-version="true" />
     <link rel="stylesheet" href="~/lib/startbootstrap-the-big-picture-gh-pages/css/the-big-picture.min.css" asp-append-version="true"  />
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pinyon+Script|Fjalla+One" type='text/css' asp-append-version="true" />
     <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" asp-append-version="true"  />
     <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" asp-append-version="true"  />
 </environment>



    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body  id="dr">
    <div class="navbar navbar-transparent">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-transparent">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand" id="fp"></a>
            </div>
            <div class="collapse navbar-collapse" id="example-navbar-transparent">
                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">Overview</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <div class="navbar navbar-transparent navbar-fixed-bottom">
            <footer class="footer">
                <div class="container">

                    <p>&copy; 2016 -Created by Marcus Shipman</p>
                </div>
            </footer>
        </div>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/material-kit/assets/js/material-kit.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>   
    </environment>


    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script> 
        <script src="~/lib/material-kit/assets/js/material.min.js" asp-append-version="true"></script>
    </environment>



    @RenderSection("scripts", required: false)
 </body>
</html>
